*{
    margin: 0;
}
ol{
	list-style-type: none;
	display: inline-block;
	width: 98%;
	height: 85px;
	background-color: lightgray;
	border-bottom-left-radius: 3%;
	border-bottom-right-radius: 3%;
}
ol li{
	display: inline-block;
}
ol ol{
	position: relative;
	bottom: 25%;
	margin-left: 52%;
	height:30px;
	width: 40%;
}
ol ol li{
	margin-left: 3%;
}
ol li img{
	width: 45px;
	height: 45px;
	padding-top: 20px;
}
ol li a{
	text-decoration: none;
	color: black;
	font-family: algerian;
	font-size: 25px;
	font-weight: bolder;
}
ol li a:hover
{
    color: goldenrod;    
}
body{
    background-image: url(1.jpg);
    background-size: 100%;
	background-repeat: no-repeat;
}
div{
    text-align: center;
    position: absolute;
    right:0;
    top: 200px;
    border: 2px solid black;
    border-radius: 3%;
    background-color: gold;
}
p{
    font: 20px bold dubai;
    color: black;
}
pre{
    font: 20px bold dubai;
    color: white;
}
table{
    border-spacing: 50px;
    width: 100%;
    position: absolute;
    top:400px;
}
td{
    text-align: center;   
    border: 2px solid gold;
}
#footer{
    padding: 50px;
    text-align: center;
    background-color: gold;
    position: absolute;
    bottom: 0px;
    width: 100%;
}
#contact td{
    background-color: darkgray;
    border-radius: 5%;
}