*{
	margin: 0;
}
ol{
	list-style-type: none;
	display: inline-block;
	width: 98%;
	height: 85px;
	background-color: lightgray;
	border-bottom-left-radius: 3%;
	border-bottom-right-radius: 3%;
}
ol li{
	display: inline-block;
}
ol ol{
	position: relative;
	bottom: 25%;
	margin-left: 52%;
	height:30px;
	width: 40%;
}
ol ol li{
	margin-left: 3%;
}
ol li img{
	width: 45px;
	height: 45px;
	padding-top: 20px;
}
ol li a{
	text-decoration: none;
	color: black;
	font-family: algerian;
	font-size: 25px;
	font-weight: bolder;
}
ol li a:hover
{
    color: goldenrod;    
}
table{
	margin:10px auto;
}
img{
	display: inline-block;
	width: 250px;
	height: 300px;
}
th,td{
	padding-right: 50px;
	padding-left: 50px;
	font-size: 25px;
	font-family: berlin sans fb;
}
th:hover{
	background-color:darkgray;
	cursor: pointer;
}