*{
    margin: 0;
}
body{
    background-color: #F1F4F1;
}
#nav{
width: 100%;
height: 60px;
background-color: #0EA4A3;
list-style-type: none;
padding-bottom: 20px;
}
#nav li{
    display: inline-block;
}
#nav li a{
    text-decoration: none;
    color: white;
    font: 20px ;
}
#logo{
    margin-right: 1100px;
    color: white;
    font-size: 50px;
    font-family: aldhabi;
}
.navli{
    margin-left: 20px;
    font-size: 20px;
}
.but{
    display: block;
    text-decoration: none;
    width: 90%;
    background-color:#0FA4A4 ;
    margin: 10px auto;
    border-radius: 10%;
    color: white;
    font:20px bold arial;
    padding: 6px;
    cursor: pointer;
}
#container{
    width: 90%;
    margin: 20px auto;
    text-align: center;
}
#container div img{
    display: inline-block;
    width: 200px;
    height: 200px;
    border-radius: 5%;
}
#container div{
    display: inline-block;
    margin: 20px;
    text-align: left;
    padding:20px ;
    border-radius: 3%;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
}
.pos{
width: 30px;
display: inline-block;
margin-left: 10px;
padding: 10px;
text-align: center;
background-color: #0FA4A4;
cursor: pointer;

}
.counter{
margin-left: 10px;
font-size: 18px;
}
.neg{
width:30px;
display: inline-block;
margin-left: 10px;
padding: 10px;
text-align: center;
background-color: #0FA4A4;
cursor: pointer;
}
.price{
display: inline-block;

}
#container div div{
    padding: 6px;
}
.sub{
    font-size: 18px;
}