*{
    margin: 0;
}
#nav{
width: 100%;
height: 50px;
background-color: darkcyan;
list-style-type: none;
border: 2px solid black;
}
#nav li{
    display: inline-block;
    border: 2px solid black;
}
#nav li a{
    text-decoration: none;
    color: white;
    font: 20px ;
}